body {
  width: 1024px;
  height: 768px;
  background: #fff;
}
#menu {
  width: 1516px;
  height: 149px;
  background: #1f1e1e;
  color: white;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}
.box {
  margin-top: 15px;
  height: 600px;
  width: 1516px;
  background-color: #1f1e1e;
  border-radius: 5px;
  color: white;
  text-align: center;
  display: grid;
  grid-template-areas:
    "lateral conteudo conteudo"
    "lateral conteudo conteudo"
    "final final final";
  gap: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.conteudo {
  border: black solid 2px;
  grid-area: conteudo;
}
.lateral {
  border: black solid 2px;
  grid-area: lateral;
}
.final {
  border: black solid 2px;
  grid-area: final;
}
.style {
  border-radius: 5px;
}
