@import url('https://fonts.googleapis.com/css2?família=Oswald:wght@200; 500; 700&family=Roboto:ital,wght@1,900&display=swap');

body{
    background-color: black;
}
#t1{
    display: flex;
    justify-content: center;
    width: 35%;
    background-color: aliceblue;
    border-radius: 10px;
    margin-left: 30%;
    font-size: 15px;
    border: 3px solid rgb(65, 65, 110);
}
.tech{
    column-count: 4;
    column-gap: 0;
}
img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    transition: scale 350ms ease, opacity 350ms linear;
}
.tech:has(img:hover) img:not(:hover){
scale: 0.9;
opacity: 0.8; ;
}